@charset 'utf-8';

.blue{

	background-color: #006385 !important;
	color: #fff !important;

}

nav li.active{
	background-color: #00506B !important; 
}

nav a{
	/*background-color: #00506B !important; */
	color: #fff !important;
}
span.logo{
	font-weight: 600;
    font-family: helvetika neue;
    vertical-align: bottom;
    padding-left: 5px;
    font-size: 20px;
}

i.logoi{
	font-size: 20px;
}